<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
    <system.serviceModel>
      
      <services>
        <!-- Примечание: Для реализации службы имя службы должно соответствовать имени конфигурации. -->
        <service name="WritterService.WritterServiceType" behaviorConfiguration="WritterServiceTypeBehaviors" >
          <!-- Добавьте следующую конечную точку.  -->
          <!-- Примечание: Для добавления этой конечной точки служба должна иметь базовый http-адрес. -->
          <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
        </service>
      </services>

      <behaviors>
        <serviceBehaviors>
          <behavior name="WritterServiceTypeBehaviors" >
            <!-- Добавьте следующий элемент к конфигурации поведения службы. -->
            <serviceMetadata httpGetEnabled="true" />
          </behavior>
          <behavior name="MyServiceTypeBehaviors" >
            <serviceMetadata httpGetEnabled="true" />
          </behavior>
        </serviceBehaviors>
      </behaviors>

    </system.serviceModel>
</configuration>